/* to do : fix trailer part ; adapt search bar */

body{
    background-image: url(./assets/imgs/Subtle-Grey-Tileable-Pattern-For-Website-Background.jpg);
    background-repeat: repeat;
}

.card-vcenter{
    margin-top: auto;
    margin-bottom: auto;
}

section p, section a{
    font-size: 14px;
}

.trailer{
    border-top: 1px solid lightgrey;
}

.icon-youtube{
    color: #ff0000;
}

@media screen and (min-width:1024px){
    .size-card-screen{
        height: 200px;
        overflow: auto;
        padding-right: 10px;
    }
}